
<div class="jumbotron center">
	
	<h1>An Awesome App by 汪晟</h1>
	<p> <%= link_to "sign up", "http://Googel.com", class: "btn btn-danger" %>
		<%= link_to "Log in", "http://Yahoo.com", class: "btn btn-default" %>

	</p>
	
</div>